*Makefile
*~
*.o
*.la
*.so*
*.a
*.lo
*.swp
*.tar*
*.zip

#man pages
man/man1/*.1
man/man3/*.3
man/man5/*.5
man/man7/*.7

#mac stuff
a.out.dSYM*

#patches
mpi_adio/patches/mpich2/*.patch
mpi_adio/patches/openmpi/*.patch

#cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

#cmake inside build
build/dcon
build/findmesgbuf
build/install
build/man/
build/plfs
build/plfs_check_config
build/plfs_flatten_index
build/plfs_ls
build/plfs_map
build/plfs_query
build/plfs_recover
build/plfs_version
build/install_manifest.txt
