# Below is a very simple configuration example to get you started.
# For more detail, explanations, and examples please see the plfsrc man page
# located in man/man5/


# these parameters apply to ALL mount points
- global_params:
  threadpool_size: 1
  num_hostdirs: 41

# this must match where FUSE is mounted and the logical paths passed to ADIO
 - mount_point: /path/to/plfs/mount/point

# at least one location is needed, more can be specified
   backends:
    - location: /path/to/plfs/backend/.plfs_store
   workload: N-1
